.res-sprite {
    background-image: url(images/resspritesheet.png);
    background-repeat: no-repeat;
}

.sprite-crystal {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-darkmatter {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite-deuterium {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-energy {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}

.sprite-metal {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}

.build-sprite {
    background-image: url(images/buildspritesheet.png);
    background-repeat: no-repeat;
}

.sprite-1 {
    width: 100px;
    height: 100px;
    background-position: -5px -5px;
}

.sprite-106 {
    width: 100px;
    height: 100px;
    background-position: -135px -5px;
}

.sprite-108 {
    width: 100px;
    height: 100px;
    background-position: -265px -5px;
}

.sprite-109 {
    width: 100px;
    height: 100px;
    background-position: -395px -5px;
}

.sprite-110 {
    width: 100px;
    height: 100px;
    background-position: -525px -5px;
}

.sprite-111 {
    width: 100px;
    height: 100px;
    background-position: -655px -5px;
}

.sprite-113 {
    width: 100px;
    height: 100px;
    background-position: -785px -5px;
}

.sprite-114 {
    width: 100px;
    height: 100px;
    background-position: -5px -135px;
}

.sprite-115 {
    width: 100px;
    height: 100px;
    background-position: -135px -135px;
}

.sprite-117 {
    width: 100px;
    height: 100px;
    background-position: -265px -135px;
}

.sprite-118 {
    width: 100px;
    height: 100px;
    background-position: -395px -135px;
}

.sprite-12 {
    width: 100px;
    height: 100px;
    background-position: -525px -135px;
}

.sprite-120 {
    width: 100px;
    height: 100px;
    background-position: -655px -135px;
}

.sprite-121 {
    width: 100px;
    height: 100px;
    background-position: -785px -135px;
}

.sprite-122 {
    width: 100px;
    height: 100px;
    background-position: -5px -265px;
}

.sprite-123 {
    width: 100px;
    height: 100px;
    background-position: -135px -265px;
}

.sprite-124 {
    width: 100px;
    height: 100px;
    background-position: -265px -265px;
}

.sprite-14 {
    width: 100px;
    height: 100px;
    background-position: -395px -265px;
}

.sprite-15 {
    width: 100px;
    height: 100px;
    background-position: -525px -265px;
}

.sprite-199 {
    width: 100px;
    height: 100px;
    background-position: -655px -265px;
}

.sprite-2 {
    width: 100px;
    height: 100px;
    background-position: -785px -265px;
}

.sprite-202 {
    width: 100px;
    height: 100px;
    background-position: -5px -395px;
}

.sprite-203 {
    width: 100px;
    height: 100px;
    background-position: -135px -395px;
}

.sprite-204 {
    width: 100px;
    height: 100px;
    background-position: -265px -395px;
}

.sprite-205 {
    width: 100px;
    height: 100px;
    background-position: -395px -395px;
}

.sprite-206 {
    width: 100px;
    height: 100px;
    background-position: -525px -395px;
}

.sprite-207 {
    width: 100px;
    height: 100px;
    background-position: -655px -395px;
}

.sprite-208 {
    width: 100px;
    height: 100px;
    background-position: -785px -395px;
}

.sprite-209 {
    width: 100px;
    height: 100px;
    background-position: -5px -525px;
}

.sprite-21 {
    width: 100px;
    height: 100px;
    background-position: -135px -525px;
}

.sprite-210 {
    width: 100px;
    height: 100px;
    background-position: -265px -525px;
}

.sprite-211 {
    width: 100px;
    height: 100px;
    background-position: -395px -525px;
}

.sprite-212 {
    width: 100px;
    height: 100px;
    background-position: -525px -525px;
}

.sprite-213 {
    width: 100px;
    height: 100px;
    background-position: -655px -525px;
}

.sprite-214 {
    width: 100px;
    height: 100px;
    background-position: -785px -525px;
}

.sprite-215 {
    width: 100px;
    height: 100px;
    background-position: -5px -655px;
}

.sprite-22 {
    width: 100px;
    height: 100px;
    background-position: -135px -655px;
}

.sprite-23 {
    width: 100px;
    height: 100px;
    background-position: -265px -655px;
}

.sprite-24 {
    width: 100px;
    height: 100px;
    background-position: -395px -655px;
}

.sprite-3 {
    width: 100px;
    height: 100px;
    background-position: -525px -655px;
}

.sprite-31 {
    width: 100px;
    height: 100px;
    background-position: -655px -655px;
}

.sprite-33 {
    width: 100px;
    height: 100px;
    background-position: -785px -655px;
}

.sprite-34 {
    width: 100px;
    height: 100px;
    background-position: -5px -785px;
}

.sprite-4 {
    width: 100px;
    height: 100px;
    background-position: -135px -785px;
}

.sprite-401 {
    width: 100px;
    height: 100px;
    background-position: -265px -785px;
}

.sprite-402 {
    width: 100px;
    height: 100px;
    background-position: -395px -785px;
}

.sprite-403 {
    width: 100px;
    height: 100px;
    background-position: -525px -785px;
}

.sprite-404 {
    width: 100px;
    height: 100px;
    background-position: -655px -785px;
}

.sprite-405 {
    width: 100px;
    height: 100px;
    background-position: -785px -785px;
}

.sprite-406 {
    width: 100px;
    height: 100px;
    background-position: -915px -5px;
}

.sprite-407 {
    width: 100px;
    height: 100px;
    background-position: -915px -135px;
}

.sprite-408 {
    width: 100px;
    height: 100px;
    background-position: -915px -265px;
}

.sprite-41 {
    width: 100px;
    height: 100px;
    background-position: -915px -395px;
}

.sprite-42 {
    width: 100px;
    height: 100px;
    background-position: -915px -525px;
}

.sprite-43 {
    width: 100px;
    height: 100px;
    background-position: -915px -655px;
}

.sprite-44 {
    width: 100px;
    height: 100px;
    background-position: -915px -785px;
}

.sprite-45 {
    width: 100px;
    height: 100px;
    background-position: -5px -915px;
}

.sprite-502 {
    width: 100px;
    height: 100px;
    background-position: -135px -915px;
}

.sprite-503 {
    width: 100px;
    height: 100px;
    background-position: -265px -915px;
}

.planet-sprite {
    background-image: url(images/planetspritesheet.png);
    background-repeat: no-repeat;
}

.sprite-debris {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-deshjungelplanet01 {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-dschjungelplanet01 {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-dschjungelplanet02 {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-dschjungelplanet03 {
    width: 30px;
    height: 30px;
    background-position: -165px -5px;
}

.sprite-dschjungelplanet04 {
    width: 30px;
    height: 30px;
    background-position: -205px -5px;
}

.sprite-dschjungelplanet05 {
    width: 30px;
    height: 30px;
    background-position: -245px -5px;
}

.sprite-dschjungelplanet06 {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-dschjungelplanet07 {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-dschjungelplanet08 {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

.sprite-dschjungelplanet09 {
    width: 30px;
    height: 30px;
    background-position: -125px -45px;
}

.sprite-dschjungelplanet10 {
    width: 30px;
    height: 30px;
    background-position: -165px -45px;
}

.sprite-eisplanet01 {
    width: 30px;
    height: 30px;
    background-position: -205px -45px;
}

.sprite-eisplanet02 {
    width: 30px;
    height: 30px;
    background-position: -245px -45px;
}

.sprite-eisplanet03 {
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.sprite-eisplanet04 {
    width: 30px;
    height: 30px;
    background-position: -45px -85px;
}

.sprite-eisplanet05 {
    width: 30px;
    height: 30px;
    background-position: -85px -85px;
}

.sprite-eisplanet06 {
    width: 30px;
    height: 30px;
    background-position: -125px -85px;
}

.sprite-eisplanet07 {
    width: 30px;
    height: 30px;
    background-position: -165px -85px;
}

.sprite-eisplanet08 {
    width: 30px;
    height: 30px;
    background-position: -205px -85px;
}

.sprite-eisplanet09 {
    width: 30px;
    height: 30px;
    background-position: -245px -85px;
}

.sprite-eisplanet10 {
    width: 30px;
    height: 30px;
    background-position: -5px -125px;
}

.sprite-gasplanet01 {
    width: 30px;
    height: 30px;
    background-position: -45px -125px;
}

.sprite-gasplanet02 {
    width: 30px;
    height: 30px;
    background-position: -85px -125px;
}

.sprite-gasplanet03 {
    width: 30px;
    height: 30px;
    background-position: -125px -125px;
}

.sprite-gasplanet04 {
    width: 30px;
    height: 30px;
    background-position: -165px -125px;
}

.sprite-gasplanet05 {
    width: 30px;
    height: 30px;
    background-position: -205px -125px;
}

.sprite-gasplanet06 {
    width: 30px;
    height: 30px;
    background-position: -245px -125px;
}

.sprite-gasplanet07 {
    width: 30px;
    height: 30px;
    background-position: -5px -165px;
}

.sprite-gasplanet08 {
    width: 30px;
    height: 30px;
    background-position: -45px -165px;
}

.sprite-mond {
    width: 30px;
    height: 30px;
    background-position: -85px -165px;
}

.sprite-normaltempplanet01 {
    width: 30px;
    height: 30px;
    background-position: -125px -165px;
}

.sprite-normaltempplanet02 {
    width: 30px;
    height: 30px;
    background-position: -165px -165px;
}

.sprite-normaltempplanet03 {
    width: 30px;
    height: 30px;
    background-position: -205px -165px;
}

.sprite-normaltempplanet04 {
    width: 30px;
    height: 30px;
    background-position: -245px -165px;
}

.sprite-normaltempplanet05 {
    width: 30px;
    height: 30px;
    background-position: -5px -205px;
}

.sprite-normaltempplanet06 {
    width: 30px;
    height: 30px;
    background-position: -45px -205px;
}

.sprite-normaltempplanet07 {
    width: 30px;
    height: 30px;
    background-position: -85px -205px;
}

.sprite-trockenplanet01 {
    width: 30px;
    height: 30px;
    background-position: -125px -205px;
}

.sprite-trockenplanet02 {
    width: 30px;
    height: 30px;
    background-position: -165px -205px;
}

.sprite-trockenplanet03 {
    width: 30px;
    height: 30px;
    background-position: -205px -205px;
}

.sprite-trockenplanet04 {
    width: 30px;
    height: 30px;
    background-position: -245px -205px;
}

.sprite-trockenplanet05 {
    width: 30px;
    height: 30px;
    background-position: -5px -245px;
}

.sprite-trockenplanet06 {
    width: 30px;
    height: 30px;
    background-position: -45px -245px;
}

.sprite-trockenplanet07 {
    width: 30px;
    height: 30px;
    background-position: -85px -245px;
}

.sprite-trockenplanet08 {
    width: 30px;
    height: 30px;
    background-position: -125px -245px;
}

.sprite-trockenplanet09 {
    width: 30px;
    height: 30px;
    background-position: -165px -245px;
}

.sprite-trockenplanet10 {
    width: 30px;
    height: 30px;
    background-position: -205px -245px;
}

.sprite-wasserplanet01 {
    width: 30px;
    height: 30px;
    background-position: -245px -245px;
}

.sprite-wasserplanet02 {
    width: 30px;
    height: 30px;
    background-position: -285px -5px;
}

.sprite-wasserplanet03 {
    width: 30px;
    height: 30px;
    background-position: -285px -45px;
}

.sprite-wasserplanet04 {
    width: 30px;
    height: 30px;
    background-position: -285px -85px;
}

.sprite-wasserplanet05 {
    width: 30px;
    height: 30px;
    background-position: -285px -125px;
}

.sprite-wasserplanet06 {
    width: 30px;
    height: 30px;
    background-position: -285px -165px;
}

.sprite-wasserplanet07 {
    width: 30px;
    height: 30px;
    background-position: -285px -205px;
}

.sprite-wasserplanet08 {
    width: 30px;
    height: 30px;
    background-position: -285px -245px;
}

.sprite-wasserplanet09 {
    width: 30px;
    height: 30px;
    background-position: -5px -285px;
}

.sprite-wuestenplanet01 {
    width: 30px;
    height: 30px;
    background-position: -45px -285px;
}

.sprite-wuestenplanet02 {
    width: 30px;
    height: 30px;
    background-position: -85px -285px;
}

.sprite-wuestenplanet03 {
    width: 30px;
    height: 30px;
    background-position: -125px -285px;
}

.sprite-wuestenplanet04 {
    width: 30px;
    height: 30px;
    background-position: -165px -285px;
}